body {
	/*background-image: url(../images/teal-pentagonal-background.jpg);*/
	background: linear-gradient(to bottom,#ff8f00 0%,#ff6f00 100%);
	background-size: cover;
	background-position: center center;
	font-weight: thin;
}

.form{
	background: white;
	padding: 30px;
	margin-top: 15%;
	-webkit-box-shadow: 0px 0px 64px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 64px -13px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 64px -13px rgba(0,0,0,0.75);
	margin-bottom: 12%;
}

#facebook_button{
	background: #4A6EAA;
	background-image: url(../images/facebook.jpg);
	background-size: 7%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	margin-bottom: 10px;
	height: 8vh;
}

#login_button{
	background: linear-gradient(to bottom,#ff8f00 0%,#ff6f00 100%);
	width: 100%;
}

#frgt_button{
	background: linear-gradient(to bottom,#ff8f00 0%,#ff6f00 100%);
	width: 100%;
}

#register_button{
	background: linear-gradient(to bottom,#ff8f00 0%,#ff6f00 100%);
	width: 100%;
}