body {
	background-image: url(../images/bg-1.jpg);
}

.form{
	background: white;
	padding: 30px;
	margin-top: 30%;
	-webkit-box-shadow: 0px 0px 64px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 64px -13px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 64px -13px rgba(0,0,0,0.75);
}