label {
    width: 140px;
    display: inline-block;
}

li{
    border-bottom: 1px solid #eee;
    width: 100%;
    list-style-type: none;
    
}

form {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15%;
}