@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,);

html{
    background: #e74c3c;
}

body{
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
}

.header{
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.subheader {
    font-size: 1.25em;
    text-align: center;
    padding-top: 5px;
}

form {
    line-height: 40px;
    direction: ltr;
    margin-left: 60%;
    float: left;
}

input {
    color: black;
    display: inline-block;
    /*width: 170px; */ 
    height: 30px;
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}
input:focus{
    padding-right:60px;
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}

input:invalid{
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

label {
    width: 140px;
    display: inline-block;
}

li{
    border-bottom: 1px solid #eee;
    width: 370px;
    list-style-type: none;
    
}

button {
    margin-left: 140px;
    width: 170px;
    height: 30px;
    
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

button:hover {
    opacity:.85;
    cursor: pointer; 
}

button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
     
}


.terminal{
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    transition: all 0.5s ease-out;
    font-size: 100%;
    box-shadow:0px 0px 120px 2px black;
    border-radius: 10px 10px 10px 10px;
    
}

.terminalhead{
    
    height: 30px;
    font-size: 0.95em;
    background: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background: linear-gradient(top, #e8e8e8, #bcbbbc);
    box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
    border-bottom: #6a6a6a 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding-top: 10px;
    
}


.terminalbody{
    padding-top:05px;
    padding-left: 10px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.85);
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    color: #1EFF00;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nodisplay {
  display:none;
}

.redCircle{
    margin-left: 10px;
    float: left;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    background: red;
}

.redCircle:hover{
    content: "x";
    cursor: pointer;
}

.yellowCircle{
    margin-left: 10px;
    float: left;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    background: #efef74;
}

.greenCircle{
    margin-left: 10px;
    float: left;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    background: #57e557;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
    